
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow any authenticated user to read user documents for this demo.
    match /users/{userId} {
      allow read: if request.auth != null;
      // Let the python script write, but not clients
      allow write: if false; 
    }

    // Allow any authenticated user to read from their own 'realtime_data' subcollection.
    match /users/{userId}/realtime_data/{docId} {
      allow read: if request.auth != null;
      // Let the python script write, but not clients
      allow write: if false;
    }

    // Allow any authenticated user to read predictions from a user's subcollection
    match /users/{userId}/predictions/{predictionId} {
        allow read: if request.auth != null;
        allow write: if false;
    }

    // Allow authenticated users to read predictions. (Legacy path)
    match /predictions/{deviceId}/samples/{sampleId} {
      allow read: if request.auth != null;
      allow write: if false; // Restrict writes to backend processes.
    }
  }
}
